{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container-fluid">
        <div class="d-flex flex-row justify-content-center flex-wrap align-items-start">
            <div class="col-sm-3">
                <div class="card profile-card m-2">
                    <div class="card-body">
                        <div class="d-flex flex-column justify-content-center p-4">
                            {% if form.initial.post_image %}
                                <div class="mx-auto mb-4 image-container" id="id_image_container">
                                    <img class="border border-dark img-fluid mx-auto profile-image" id="id_post_image_display" src="{{form.initial.post_image}}" alt="post image">
                                </div>
                            {% endif %}
                            <form class="form-signin" method="post" enctype="multipart/form-data">{% csrf_token %}
                                <h6 class="mt-4 field-heading">Description</h6>
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Write your description here." id="id_input_text_content" style="height: 100px;" name="text_content">{{ form.initial.text_content }}</textarea>
                                    <label for="id_input_text_content">Text</label>
                                </div>

                                {% for field in form %}
                                    <p>
                                        {% for error in field.errors %}
                                            <p style="color: red">{{ error }}</p>
                                        {% endfor %}
                                    </p>
                                {% endfor %}
                                {% if form.non_field_errors %}
                                    <div style="color: red">
                                        <p>{{form.non_field_errors}}</p>
                                    </div>

                                {% endif %}

                                <div class="d-flex flex-column mt-4">
                                    <button class="mt-4 btn btn-primary flex-grow-1" type="submit">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}