<script type="text/javascript">

       function OnLikeOrDislike(){
        location.reload();
    }

    function likePostRequest(post_id) {
         payload = {
             "csrfmiddlewaretoken": "{{ csrf_token }}",
             "post_id": post_id,
        }
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "{% url 'like-post' %}",
            timeout: 5000,
            data: payload,
            success: function (data) {
                if (data.response == "Liked Post." || data.response == "Unlike Post.") {

                } else if (data.response != null) {
                    alert(data.response);
                }
            },
            {#error: function (data){#}
            {#    alert("Something went wrong: " + data);#}
            {#,#}
            complete: function (data){
                OnLikeOrDislike();
            }
        })
    };
    function sharePostRequest(post_id, uiUpdateFunction) {
        let postId = post_id;
        let url = "/post/share_post/" + postId.toString();
         payload = {
             "csrfmiddlewaretoken": "{{ csrf_token }}",
             "post_id": post_id,
        }
        $.ajax({
            type: "POST",
            url: url,
            dataType: "json",
            timeout: 5000,
            data: payload,
            success: function (data) {
                console.log(data)
                if (data.response == "Shared Post.") {

                } else if (data.response != null) {
                    alert(data.response);
                }
            },
            error: function (data){
                console.log("Something went wrong: " + data.response);
            },
            complete: function (data){
                uiUpdateFunction();
            }
        })
    }
</script>