<script type="text/javascript">

    function OnLikeOrDislike(){
        location.reload();
    }

    let likePostBtn = document.getElementById("likeButton")
    if (likePostBtn != null){
        likePostBtn.addEventListener("click", function(){
            likePostRequest("{{post_id}}", OnLikeOrDislike)
        })
    }

    let shareButtonBtn = document.getElementById("shareButton")
    if (shareButtonBtn != null){
        shareButtonBtn.addEventListener("click", function(){
            sharePostRequest("{{post_id}}", OnLikeOrDislike)
        })
    }

</script>