{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="d-flex flex-row justify-content-center flex-wrap align-self-start">
            <div class="col-sm-4">
                <div class="card profile-card m-2">
                    <div class="card-header d-flex">
                        <div class="row align-items-center flex-grow-1">
                            <div class="col-sm-1 pe-0">
                                <a class="text-reset" href="{% url 'view' user_id=account_id %}">
                                    <img class="account-image rounded-circle m-auto d-block" id="id_profile_links" src="{{ profile_image }}" alt="default profile image" width="40" height="40">
                                </a>
                            </div>
                            <div class="col-sm-11 d-flex flex-nowrap">
                                {% if is_shared %}
                                    {#                                    <a class="text-reset" href="{% url 'view' user_id=account_id %}">#}
                                    <div class="fw-light fs-6 ">@{{ username }} sharing @{{ shared_post.poster.username }}'s post</div>
                                    {#                                    </a>#}
                                {% else %}
                                    <a class="text-reset" href="{% url 'view' user_id=account_id %}">
                                        <div class="fw-light fs-6 ">@{{ username }}</div>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="card-body m-0">
                        <div class="flex-column">
                            {% if post_has_image %}
                                <div class="flex-row">
                                    <div class="p-3 pt-0">
                                        <img class="d-block border border-dark img-fluid mx-auto " alt="post image" id="id_profile_image" src="{{post_image}}">
                                    </div>
                                </div>
                                <div class="fs-6 fw-light flex-row align-items-center d-flex">

                                    <div class="d-inline-flex align-items-center mb-2">
                                        <span class="material-icons pe-1" id="likeButton"  style="font-size: 18px;"><a
                                                href="#" class="text-reset">favorite</a></span>
                                        Likes: {{ num_of_likes }}
                                    </div>
                                    <div class="flex-grow-1"></div>
                                    {% if not is_self == True %}

                                        <div class="d-inline-flex align-items-center mb-2">
                                         <span class="material-icons pe-1" id="shareButton"  style="font-size: 18px;"><a
                                                 href="" class="text-reset">share</a>
                                         </span>
                                        </div>
                                    {% endif %}
                                </div>
                                {#                                comments go here#}
                                {% if text_content %}

                                    <div class="flex-row">
                                        <p class="overflow-auto card-text">
                                            <strong><a class="text-reset" href="{% url 'view' user_id=account_id %}">{{ username }}</a></strong>: {{text_content}}
                                        </p>
                                    </div>
                                {% endif %}
                                {#                                {% for comment in comments %}#}
                                {#                                    {% if comment.text_content %}#}
                                {##}
                                {#                                        <div class="flex-row">#}
                                {#                                            <p class="overflow-auto card-text">#}
                                {#                                                <strong><a class="text-reset" href="{% url 'view' user_id=comment.user.id %}">#}
                                {#                                                    {{ comment.user.username }}#}
                                {#                                                </a></strong>: {{comment.text_content}}#}
                                {#                                            </p>#}
                                {#                                        </div>#}
                                {#                                    {% endif %}#}
                                {#                                {% endfor %}#}
                            {% endif %}
                            {% if not post_has_image and not is_shared %}
                                <div class="flex-row mb-3">
                                    <p class="overflow-auto card-text">
                                        <strong><a class="text-reset" href="{% url 'view' user_id=account_id %}">{{ username }}</a></strong>: {{text_content}}
                                    </p>
                                </div>
                                <div class="fs-6 fw-light flex-row align-items-center d-flex">

                                    <div class="d-inline-flex align-items-center mb-2">
                                        <span class="material-icons pe-1" id="likeButton"  style="font-size: 18px;"><a
                                                href="#" class="text-reset">favorite</a></span>
                                        Likes: {{ num_of_likes }}
                                    </div>
                                    <div class="flex-grow-1"></div>
                                    {% if not is_self == True %}
                                        <div class="d-inline-flex align-items-center mb-2">
                                         <span class="material-icons pe-1" id="shareButton"  style="font-size: 18px;"><a
                                                 href="" class="text-reset">share</a>
                                         </span>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                            {% if is_shared %}
                                {% if shared_post.is_image %}
                                    <div class="flex-row">
                                        <a href="{% url "post" user_id=shared_post.poster.id post_id=shared_post.id%}">
                                            <div class="p-3 pt-0">
                                                <img class="d-block border border-dark img-fluid mx-auto " alt="post image" id="id_profile_image" src="{{shared_post.image.url}}">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="fs-6 fw-light flex-row align-items-center d-flex">
                                        <div class="d-inline-flex align-items-center mb-2">
                                        <span class="material-icons pe-1" id="likeButton"  style="font-size: 18px;"><a
                                                href="#" class="text-reset">favorite</a></span>
                                            Likes: {{ num_of_likes }}
                                        </div>
                                        <div class="flex-grow-1"></div>
                                        {% if not is_self == True %}
                                            <div class="d-inline-flex align-items-center mb-2">
                                         <span class="material-icons pe-1" id="shareButton"  style="font-size: 18px;"><a
                                                 href="" class="text-reset">share</a>
                                         </span>
                                            </div>
                                        {% endif %}
                                    </div>
                                    {% if text_content %}

                                        <div class="flex-row">
                                            <p class="overflow-auto card-text">
                                                <strong><a class="text-reset" href="{% url 'view' user_id=account_id %}">{{ username }}</a></strong>: {{text_content}}
                                            </p>
                                        </div>
                                    {% endif %}

                                    {#                                    {% for comment in comments %}#}
                                    {#                                        {% if comment.text_content %}#}
                                    {##}
                                    {#                                            <div class="flex-row">#}
                                    {##}
                                    {#                                                <p class="overflow-auto card-text">#}
                                    {#                                                    <strong><a class="text-reset" href="{% url 'view' user_id=comment.user.id %}">#}
                                    {#                                                        {{ comment.user.username }}#}
                                    {#                                                    </a></strong>: {{comment.text_content}}#}
                                    {#                                                </p>#}
                                    {#                                            </div>#}
                                    {#                                        {% endif %}#}
                                    {#                                    {% endfor %}#}
                                {% else %}

                                {% endif %}
                            {% endif %}
                            <div class="d-flex flex-row justify-content-end mt-3">
                                <div class="fs-6 fw-light text-muted">{{ created_at }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    {% include 'SocialSite/Post/post_requests.html' %}
    {% include 'SocialSite/Post/post_js.html' %}



{% endblock content %}