{% extends 'testbase.html' %}
{% load static %}

{% block content %}

    <style type="text/css">

  .card-signin {
	  width: 100%;
	  max-width: 400px;
	  padding: 15px;
	  margin: auto;
  }

  .form-signin input[type="email"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="text"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }


</style>


    <div class="container-fluid">
	<div class="d-flex row">
        <div class="col">
            <div class="card card-signin">
                <div class="card-body">
                    <div class="d-flex flex-column pb-3 align-items-center">
                        <h3>Register</h3>
                    </div>
                    <form class="form-signin" method="post">{% csrf_token %}
                        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>

                        <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required>

                        <input type="text" name="first_name" id="inputFirstName" class="form-control" placeholder="First Name" required>

                        <input type="text" name="last_name" id="inputLastName" class="form-control" placeholder="Last Name" required>

                        <input type="password" name="password1" id="inputPassword1" class="form-control" placeholder="Password" required>

                        <input type="password" name="password2" id="inputPassword2" class="form-control" placeholder="Confirm password" required>

                        {% for field in registration_form %}
                        <p>
                        {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                        {% endfor %}
                        </p>
                        {% endfor %}
                        {% if registration_form.non_field_errors %}
                        <div style="color: red">
                            <p>{{registration_form.non_field_errors}}</p>
                        </div>

                        {% endif %}

                        <div class="row align-items-center p-2">
                            <button class="btn btn-primary" type="submit">Register</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="d-flex flex-row my-2 justify-content-center ">
                <p>Already have an account?&nbsp</p><span><a class="m-auto" href="{% url 'login' %}"> Login Here.</a></span>
            </div>
        </div>
	</div>
</div>



{% endblock content %}